extends layout

block content
    .w3-container
        h1 Dados do filme
        table.w3-table-all
            tr 
                th Identificador
                th Title
                th Year
                th Cast
                th Genre
            tr  
                th= lista._id
                td= lista.title
                td= lista.year  
                td= lista.cast
                td= lista.genres    
                    